.resort{
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.resort-image{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.resort-image:hover{
    height: 320px;
    width: 320px;
}